html, body {
	margin: 0px;
  padding: 0px;
}

header {
  min-height: 6em;
  min-width: 100%;
  background-color: black;
  color:white;
  margin: 0 !important;
}

#headerTitle {
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin: 0px;
}

main {
  min-width: 100%;

}

main .row .input-field {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}


#search {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  height: 2em;
  margin-left: 0px !important;
  padding-left: .6em;
  padding-right: .6em;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#autocomplete-input {
  margin-left: 0px !important;
  border: 0.1em solid white;
  border-radius: .5em;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  text-indent: .5em;
}

